:root {
  --glass: rgba(255, 255, 255, 0.15);
  --border: rgba(255, 255, 255, 0.25);
  --text: #ffffff;
  --text-soft: rgba(255,255,255,0.75);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "SF Pro Display",
    "Inter",
    sans-serif;

  height: 100vh;

  background:
    radial-gradient(circle at top left, rgba(149, 76, 233, 0.35), transparent 30%),
    radial-gradient(circle at top right, rgba(92, 173, 255, 0.3), transparent 30%),
    linear-gradient(135deg, #3b248f, #4d6fe3, #5ca8ff);

  color: var(--text);
}

/* LAYOUT */
.container {
  display: flex;
  height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  padding: 20px;
  backdrop-filter: blur(20px);
  background: var(--glass);
  border-right: 1px solid var(--border);

  display: flex;
  flex-direction: column;
}

/* LOGO */
.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

/* MENU */
.menu ul {
  list-style: none;
}

.menu li {
  margin-bottom: 10px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 14px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.menu a:hover {
  background: rgba(255,255,255,0.2);
}

.menu li.active {
  background: rgba(255,255,255,0.25);
  border-radius: 14px;
}

/* PROFILE */
.profile {
  margin-top: auto;
  display: flex;
  gap: 10px;
  padding: 15px;
  background: rgba(255,255,255,0.15);
  border-radius: 16px;
}

.avatar {
  width: 40px;
  height: 40px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

/* CONTENT */
.content {
  flex: 1;
  padding: 40px;
}

/* HEADER */
header h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

header p {
  color: var(--text-soft);
}

/* CARDS */
.card-container {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}

.card {
  flex: 1;
  padding: 20px;
  border-radius: 20px;

  backdrop-filter: blur(20px);
  background: var(--glass);
  border: 1px solid var(--border);

  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card-icon {
  font-size: 22px;
  margin-bottom: 10px;
}
